.characters {
  background: #fff000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ilbuni {
  width: 100px;
  cursor: pointer;
}

.characters ilbuni{
  display: inline-block;
}

.special {
  border: 10px dashed red;
}