.stage {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 75vw;
  background: #fff000;
}
@keyframes moving{
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(90vw);
  }
}
.ilbuni {
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  animation: moving infinite alternate;
}
.ilbuni.a {
  left: 5%;
  bottom: 5%;
  animation-duration: 2s;
  background-image: url('../images/ilbuni_0.png');
}
.ilbuni.b {
  left: 10%;
  bottom: 3%;
  animation-duration: 3s;
  background-image: url('../images/ilbuni_1.png');
}
.ilbuni.c {
  left: 7%;
  bottom: 10%;
  animation-duration: 4s;
  background-image: url('../images/ilbuni_2.png');
}
.ilbuni.d {
  left: 9%;
  bottom: 7%;
  animation-duration: 5s;
  background-image: url('../images/ilbuni_3.png');
}